In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset_house_apartment.csv")

In [3]:

def menu():
    
    y = -1
    
    choix_clean = []
    
    while y != "q":
        
        print(nom_colonne)
        y = input("que voulez-vous clean ? ( q => sortir  // a => tous)")
        try:
            y = int(y)
        except:
            if y == "a":
                for x in range(0,17):
                    choix_clean.append(x)
                break
            elif y == "q":
                break
            print("entrer une donnée valide")


        
        if y != "q":
            choix_clean.append(y)
    
    return choix_clean

def clean(df):
    
    df = pre_clean(df)
    
    choix_clean = menu()
    
    
    for x in choix_clean:
        
        print(nom_colonne[x] + " : nbr ligne = " + str(df.shape[0]))

        if x == 0: 
            pass
        elif x == 1: 
            df['province'] = df['locality'].apply(get_province)
            df["region"] = df['province'].apply(get_region)
        elif x == 2: pass
        elif x == 3:             
            df = df[(df.price != "no price")]
            df = df[df["price"] > 50000]
            print("removed price = 0")
            print("removed price under 50 000")
        elif x == 4: pass
        elif x == 5: 
            df = df[(df.house_area != 0)]
            print("removed house area = 0")
        elif x == 6: pass
        elif x == 7: pass
        elif x == 8: 
            df = df[(df.terrace == 0) | ((df.terrace == 1) & (df.terrace_area != 0))]
            print("removed terrace that exist = 0")
        elif x == 9: pass
        elif x == 10: 
            df = df[(df.garden == 0) | ((df.garden == 1) & (df.garden_area != 0))]
        elif x == 11: pass
        elif x == 12: 
            df = df[df.surface_of_the_land != 0]
            print("removed surface of the land = 0")
        elif x == 13: 
            df = df[df.number_of_facades != 0]
            print("removed facade = 0")
        elif x == 14: pass
        elif x == 15:
            df = df[df.state_of_the_building != 0]
        elif x == 16:
            df = df[df.construction_year != 0]
            
        else:
            continue

        print(df.shape[0])
        
        
    return df
        
              
def pre_clean(df):
    """
    Cleaning that don't remove row except for duplicate

    """ 
    df = df.drop(["furnished", "surface_of_the_plot_of_land", "type_of_sale"], axis=1)
    df = df.fillna("None")
    df = df.replace("None", 0)
    df.drop_duplicates()
    df = df.replace("no price", 0)
    print("changed \"no price\" to 0")
    df['garden_area'] = pd.to_numeric(df['garden_area'])
    df['house_area'] = pd.to_numeric(df['house_area'])
    df['terrace_area'] = pd.to_numeric(df['terrace_area'])
    df['construction_year'] = pd.to_numeric(df['construction_year'])
    df['number_of_facades'] = pd.to_numeric(df['number_of_facades'])
    df['price'] = pd.to_numeric(df['price'])
    df = df.replace("to be done up", "to renovate")
    df = df.replace("to restore", "to renovate")
    df[(df["type_of_property"] == 'apartment') & (df["surface_of_the_land"] == 0)].surface_of_the_land = df['house_area'] + df['terrace_area'] + df['garden_area']
    
    
    print("3 useless row deleted")
    print("None replaced by 0")
    print("duplicated row cleaned")
    print("string value changed to numeric")
    print("correlled renovation statut")
    
    return df

def get_province(locality):
    if locality < 1300:
        return "Bruxelles"
    elif locality < 1500:
        return "Brabant Wallon"
    elif locality < 2000:
        return "Brabant Flamand"
    elif locality < 3000:
        return "Anvers"
    elif locality < 3500:
        return "Brabant Flamand"
    elif locality < 4000:
        return "Limbourg"
    elif locality < 5000:
        return "Liege"
    elif locality < 6000:
        return "Namur"
    elif locality < 6600:
        return "Hainaut"
    elif locality < 7000:
        return "Luxembourg"
    elif locality < 8000:
        return "Hainaut"
    elif locality < 9000:
        return "Flandre-Occidentale"
    elif locality < 10000:
        return "Flandre-Orientale"
    
def get_region(province):
    if province == "Bruxelles":
        return "Region de Bruxelles-capitale"
    elif province in ["Brabant Wallon", "Liege", "Namur", "Hainaut", "Luxembourg"]:
        return "Region Wallonne"
    else:
        return "Region Flamande"


nom_colonne = {}
for x in df.columns.tolist():
    nom_colonne[df.columns.tolist().index(x)] = x

clean(df)

changed "no price" to 0

C:\Users\Shadow\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

3 useless row deleted
None replaced by 0
duplicated row cleaned
string value changed to numeric
correlled renovation statut
{0: 'locality', 1: 'type_of_property', 2: 'subtype_of_property', 3: 'price', 4: 'type_of_sale', 5: 'number_of_rooms', 6: 'house_area', 7: 'fully_equipped_kitchen', 8: 'furnished', 9: 'open_fire', 10: 'terrace', 11: 'terrace_area', 12: 'garden', 13: 'garden_area', 14: 'surface_of_the_land', 15: 'surface_of_the_plot_of_land', 16: 'number_of_facades', 17: 'swimming_pool', 18: 'state_of_the_building', 19: 'construction_year'}
que voulez-vous clean ? ( q => sortir  // a => tous)a
locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
subtype_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
removed price = 0
removed price under 50 000
51689
type_of_sale : nbr ligne = 51689
51689
number_of_rooms : nbr ligne = 51689
removed house area = 0
43201
house_area : nbr ligne = 43201
43201
fully_equipped_kitchen : nbr ligne = 43201
43201
furnished : nbr ligne = 43201
removed terrace that exist = 0
33629
open_fire : nbr ligne = 33629
33629
terrace : nbr ligne = 33629
29727
terrace_area : nbr ligne = 29727
29727
garden : nbr ligne = 29727
removed surface of the land = 0
12322
garden_area : nbr ligne = 12322
removed facade = 0
11146
surface_of_the_land : nbr ligne = 11146
11146
surface_of_the_plot_of_land : nbr ligne = 11146
8361
number_of_facades : nbr ligne = 8361
5023

C:\Users\Shadow\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,locality,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year,province,region
1,1880,house,villa,525000,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992,Brabant Flamand,Region Flamande
3,7912,house,villa,550000,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918,Hainaut,Ragion Wallonne
4,6032,house,house,550000,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977,Hainaut,Ragion Wallonne
6,1325,house,house,535000,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996,Brabant Wallon,Ragion Wallonne
9,8310,house,villa,519000,3.0,273,1,1,0,0,1,303,591.0,4,0,as new,1996,Flandre-Occidentale,Region Flamande
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51933,9870,house,villa,485000,4.0,235,1,0,0,0,0,0,833.0,4,0,good,1986,Flandre-Orientale,Region Flamande
51966,1980,house,house,490000,5.0,300,1,0,0,0,0,0,1333.0,4,0,to renovate,1984,Brabant Flamand,Region Flamande
51975,9870,house,villa,495000,2.0,288,0,0,0,0,0,0,617.0,4,0,as new,1998,Flandre-Orientale,Region Flamande
51983,2610,house,house,495000,3.0,160,1,0,0,0,0,0,368.0,3,0,as new,2007,Anvers,Region Flamande
52017,3520,house,house,499000,4.0,427,0,0,0,0,0,0,3459.0,4,0,as new,1992,Limbourg,Region Flamande

In [4]:

        



df.sample(50)

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,surface_of_the_plot_of_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
7561,8434,apartment,flat studio,125000,for sale,0.0,None,0,None,0,0,None,0,None,NaN,None,2,0,None,None
30957,3700,house,house,135000,for sale,2.0,None,1,None,0,0,None,0,None,171.0,None,2,0,None,1950
7844,2600,apartment,apartment,189000,for sale,1.0,75,0,None,0,1,2,0,None,NaN,None,2,0,good,None
17305,1000,apartment,apartment,274000,for sale,1.0,75,1,None,0,1,5,0,None,NaN,None,None,0,as new,2022
1403,7030,house,villa,225000,for sale,3.0,154,1,None,0,1,10,1,549,549.0,None,4,0,None,None
34122,7170,house,house,154900,for sale,3.0,None,1,None,0,0,None,1,None,0.0,None,2,0,as new,None
48038,3800,house,house,375000,for sale,4.0,250,1,None,0,0,None,1,None,950.0,None,4,0,to be done up,1958
35693,8520,house,house,221051,for sale,3.0,None,0,None,0,0,None,0,None,339.0,None,3,0,as new,None
28184,6040,house,house,85000,for sale,2.0,75,1,None,0,1,None,1,334,383.0,None,2,0,good,None
9644,7190,apartment,apartment,180000,for sale,2.0,80,1,None,0,0,None,0,None,NaN,None,3,0,as new,2002
35092,4920,house,mixed use building,245000,for sale,2.0,160,1,None,0,0,None,0,None,0.0,None,2,0,just renovated,None
27600,4100,house,house,45000,for sale,2.0,None,1,None,0,1,None,0,None,0.0,None,3,0,to renovate,None
26873,9000,apartment,apartment,695000,for sale,6.0,None,0,None,0,0,None,0,None,NaN,None,None,0,as new,None
42518,4347,house,villa,299000,for sale,3.0,None,1,None,0,0,None,0,None,500.0,None,3,0,as new,2020
41428,6440,house,house,275000,for sale,4.0,None,1,None,1,1,None,0,None,115.0,None,4,0,as new,None
10963,3920,apartment,apartment,197000,for sale,2.0,76,0,None,0,1,10,0,None,NaN,None,4,0,None,2020
50463,9990,house,villa,446500,for sale,4.0,180,1,None,0,1,None,1,373,463.0,None,4,0,as new,2020
767,9000,house,house,350000,for sale,5.0,None,0,None,0,0,None,0,None,110.0,None,2,0,good,None
18115,1853,apartment,apartment,279000,for sale,3.0,120,1,None,0,1,None,0,None,NaN,None,2,0,good,1994
49985,5310,house,house,450000,for sale,4.0,246,1,None,0,1,120,1,1000,1196.0,None,4,0,good,2014
7706,4500,apartment,apartment,155000,for sale,1.0,80,1,None,0,0,None,0,None,NaN,None,2,0,as new,None
29787,8501,house,house,105000,for sale,3.0,92,0,None,0,0,None,0,None,203.0,None,2,0,to renovate,1909
35812,6762,house,apartment block,250000,for sale,0.0,250,1,None,0,0,None,0,None,272.0,None,None,0,good,1830
7255,4800,apartment,apartment,140000,for sale,3.0,108,1,None,0,0,None,0,None,NaN,None,3,0,good,None
36594,4000,house,house,220000,for sale,4.0,174,1,None,0,1,7,1,149,249.0,None,2,0,to be done up,1935
5454,8400,apartment,flat studio,63500,for sale,0.0,26,0,None,0,0,None,0,None,NaN,None,2,0,None,1979
1697,9080,house,house,560000,for sale,5.0,None,0,None,1,0,None,0,None,925.0,None,4,0,just renovated,None
11782,3660,apartment,apartment,199000,for sale,2.0,None,0,None,0,0,None,0,None,NaN,None,None,0,as new,2020
19974,9160,apartment,duplex,299000,for sale,2.0,110,0,None,0,1,11,0,None,NaN,None,2,0,None,2019
13190,9280,apartment,apartment,216500,for sale,2.0,88,0,None,0,0,None,1,None,NaN,None,None,0,None,2020
9162,8370,apartment,apartment,185000,for sale,1.0,63,1,None,0,1,None,0,None,NaN,None,None,0,as new,None
25236,1780,apartment,apartment,495000,for sale,3.0,120,0,None,0,1,32,0,None,NaN,None,4,0,good,None
11945,6792,apartment,apartment,215000,for sale,3.0,102,1,None,0,0,None,0,None,NaN,None,3,0,as new,2009
35453,1420,house,house,249000,for sale,2.0,78,0,None,0,0,None,0,None,0.0,None,3,0,good,None
47118,8310,house,house,375000,for sale,5.0,220,1,None,0,1,30,0,None,363.0,None,3,0,None,1932
35982,3890,house,house,249000,for sale,0.0,577,0,None,0,0,None,1,101,486.0,None,None,0,to renovate,1850
4112,2930,house,villa,769000,for sale,3.0,380,0,None,1,0,None,0,None,1595.0,None,None,0,None,1965
22976,8301,apartment,apartment,365000,for sale,2.0,88,1,None,0,0,None,0,None,NaN,None,None,0,as new,1992
23410,9300,apartment,apartment,353500,for sale,2.0,109,1,None,0,0,None,0,None,NaN,None,None,0,as new,2018
47525,4432,house,house,399000,for sale,5.0,210,1,None,0,1,None,1,1400,1593.0,None,4,0,good,1995
37425,3870,house,house,250000,for sale,3.0,274,1,None,0,1,35,0,None,1311.0,None,4,0,to renovate,1970
6239,8430,apartment,apartment,148000,for sale,2.0,58,0,None,0,1,None,0,None,NaN,None,None,0,just renovated,1956
280,5374,house,country cottage,550000,for sale,4.0,260,0,None,0,0,None,0,None,22076.0,None,4,0,None,None
51813,8510,house,villa,499000,for sale,4.0,None,1,None,0,0,None,1,None,1116.0,None,4,0,good,1972
23644,2000,apartment,apartment,357500,for sale,2.0,85,1,None,0,1,8,0,None,NaN,None,None,0,as new,2016
13773,2275,apartment,apartment,209000,for sale,2.0,110,0,None,0,0,None,0,None,NaN,None,3,0,None,1996
22752,8300,apartment,apartment,399000,for sale,2.0,90,1,None,0,1,14,0,None,NaN,None,None,0,as new,2018
47532,1980,house,house,395000,for sale,4.0,300,1,None,0,1,None,0,None,553.0,None,3,0,good,None
795,3300,house,house,no price,for sale,2.0,None,1,None,0,0,None,0,None,484.0,None,3,0,to renovate,None
46769,1410,house,house,395000,for sale,2.0,110,1,None,0,1,None,1,570,708.0,None,4,0,good,1782