In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("dataset_house_apartment.csv")

In [14]:

def menu():
    
    y = -1
    
    choix_clean = []
    
    while y != "q":
        
        print(nom_colonne)
        y = input("que voulez-vous clean ? ( q => sortir  // a => tous)")
        try:
            y = int(y)
        except:
            if y == "a":
                for x in range(0,17):
                    choix_clean.append(x)
                break
            elif y == "q":
                break
            print("entrer une donnée valide")


        
        if y != "q":
            choix_clean.append(y)
    
    return choix_clean

def clean( df):
    
    choix_clean = menu()
    
    for x in choix_clean:
        
        print(nom_colonne[x] + " : nbr ligne = " + str(df.shape[0]))

        if x == 0: pass
        elif x == 1: pass
        elif x == 2: pass
        elif x == 3:             
            df = df[(df.price != "no price")]
            df = df[df["price"] > 50000]
            print("removed price = 0")
            print("removed price under 50 000")
        elif x == 4: pass
        elif x == 5: 
            df = df[(df.house_area != 0)]
            print("removed house area = 0")
        elif x == 6: pass
        elif x == 7: pass
        elif x == 8: 
            df = df[(df.terrace == 0) | ((df.terrace == 1) & (df.terrace_area != 0))]
            print("removed terrace that exist = 0")
        elif x == 9: pass
        elif x == 10: 
            df = df[(df.garden == 0) | ((df.garden == 1) & (df.garden_area != 0))]
        elif x == 11: pass
        elif x == 12: 
            df = df[df.surface_of_the_land != 0]
            print("removed surface of the land = 0")
        elif x == 13: 
            df = df[df.number_of_facades != 0]
            print("removed facade = 0")
        elif x == 14: pass
        elif x == 15:
            df = df[df.state_of_the_building != 0]
        elif x == 16:
            df = df[df.construction_year != 0]
            
        else:
            continue

        print(df.shape[0])
        
        
    return df
        
              
def pre_clean(df):
    """
    Cleaning that don't remove row except for duplicate

    """ 
    df = df.drop(["furnished", "surface_of_the_plot_of_land", "type_of_sale"], axis=1)
    df = df.fillna("None")
    df = df.replace("None", 0)
    df.drop_duplicates()
    df = df.replace("no price", 0)
    print("changed \"no price\" to 0")
    df['garden_area'] = pd.to_numeric(df['garden_area'])
    df['house_area'] = pd.to_numeric(df['house_area'])
    df['terrace_area'] = pd.to_numeric(df['terrace_area'])
    df['construction_year'] = pd.to_numeric(df['construction_year'])
    df['number_of_facades'] = pd.to_numeric(df['number_of_facades'])
    df['price'] = pd.to_numeric(df['price'])
    df = df.replace("to be done up", "to renovate")
    df = df.replace("to restore", "to renovate")
    df[(df["type_of_property"] == 'apartment') & (df["surface_of_the_land"] == 0)].surface_of_the_land = df['house_area'] + df['terrace_area'] + df['garden_area']
    
    
    print("3 useless row deleted")
    print("None replaced by 0")
    print("duplicated row cleaned")
    print("string value changed to numeric")
    print("correlled renovation statut")
    
    return df
    
df = pre_clean(df)

nom_colonne = {}
for x in df.columns.tolist():
    nom_colonne[df.columns.tolist().index(x)] = x

clean(df)

changed "no price" to 0
3 useless row deleted
None replaced by 0
duplicated row cleaned
string value changed to numeric
correlled renovation statut
{0: 'locality', 1: 'type_of_property', 2: 'subtype_of_property', 3: 'price', 4: 'number_of_rooms', 5: 'house_area', 6: 'fully_equipped_kitchen', 7: 'open_fire', 8: 'terrace', 9: 'terrace_area', 10: 'garden', 11: 'garden_area', 12: 'surface_of_the_land', 13: 'number_of_facades', 14: 'swimming_pool', 15: 'state_of_the_building', 16: 'construction_year'}

que voulez-vous clean ? ( q => sortir) a

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
subtype_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
removed price = 0
removed price under 50 000
51689
number_of_rooms : nbr ligne = 51689
51689
house_area : nbr ligne = 51689
removed house area = 0
43201
fully_equipped_kitchen : nbr ligne = 43201
43201
open_fire : nbr ligne = 43201
43201
terrace : nbr ligne = 43201
removed terrace that exist = 0
33629
terrace_area : nbr ligne = 33629
33629
garden : nbr ligne = 33629
29727
garden_area : nbr ligne = 29727
29727
surface_of_the_land : nbr ligne = 29727
removed surface of the land = 0
12322
number_of_facades : nbr ligne = 12322
removed facade = 0
11146
swimming_pool : nbr ligne = 11146
11146
state_of_the_building : nbr ligne = 11146
8361
construction_year : nbr ligne = 8361
5023

C:\Users\vince\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,locality,type_of_property,subtype_of_property,price,number_of_rooms,house_area,fully_equipped_kitchen,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
1,1880,house,villa,525000,6.0,250,1,0,1,40,1,430,826.0,4,0,as new,1992
3,7912,house,villa,550000,4.0,325,1,0,1,125,1,2333,3570.0,4,0,good,1918
4,6032,house,house,550000,5.0,400,1,0,1,80,1,500,616.0,3,0,as new,1977
6,1325,house,house,535000,6.0,303,1,0,1,30,1,650,810.0,4,0,as new,1996
9,8310,house,villa,519000,3.0,273,1,1,0,0,1,303,591.0,4,0,as new,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51933,9870,house,villa,485000,4.0,235,1,0,0,0,0,0,833.0,4,0,good,1986
51966,1980,house,house,490000,5.0,300,1,0,0,0,0,0,1333.0,4,0,to renovate,1984
51975,9870,house,villa,495000,2.0,288,0,0,0,0,0,0,617.0,4,0,as new,1998
51983,2610,house,house,495000,3.0,160,1,0,0,0,0,0,368.0,3,0,as new,2007
52017,3520,house,house,499000,4.0,427,0,0,0,0,0,0,3459.0,4,0,as new,1992

In [ ]:
"""
for x in df.columns.tolist():
    print(str(df.columns.tolist().index(x) + 1) + " : " + str(x))


choix = input("combien de critère ?")"""

In [ ]:
print(df.columns.tolist().index(x))

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df['number_of_facades'] = pd.to_numeric(df['number_of_facades'])

In [ ]:
df.state_of_the_building.value_counts()

In [ ]:
df[df.state_of_the_building == "as new"].construction_year.value_counts()

In [ ]:
df = df.drop(["furnished", "surface_of_the_plot_of_land", "type_of_sale"], axis=1)

# type_of_sale all is for sale
# furnished no info
# surface_of_the_plot_of_land no info

In [ ]:
df[(df.garden == 1) & (df.garden_area == "None")]

In [ ]:
#df.drop(df[(df.garden == 1) & (df.garden_area == "None")])
df = df[(df.garden == 0) | ((df.garden == 1) & (df.garden_area != "None"))]

In [ ]:
df.to_csv("clean_1_garden_45435.csv")

In [ ]:
df

In [ ]:
df = df[(df.terrace == 0) | ((df.terrace == 1) & (df.terrace_area != "None"))]

In [ ]:
df.to_csv("clean_2_terrace_35554.csv")

In [ ]:
df

In [ ]:
df = df[(df.house_area != "None")]

In [ ]:
df.to_csv("clean_3_house_area_none_29907.csv")

In [ ]:
df

In [ ]:
df = df[(df.price != "no price")]

In [ ]:
df.to_csv("clean_4_no_price_29878.csv")

In [ ]:
df

In [ ]:
pd.options.mode.chained_assignment = None

In [ ]:
lam = lambda x: int(x)
df.price = df.price.apply(lam)

In [ ]:
df

In [ ]:
df = df[df["price"] > 75000]

In [ ]:
df.to_csv("clean_5_no_viager_29363.csv")

In [ ]:
df

In [ ]:
df = df[df.surface_of_the_land != 0]

In [ ]:
df.to_csv("clean_6_no_surface_of_the_land_28007.csv")

In [ ]:
df

In [ ]:
df = df[df.state_of_the_building != "None"]

In [ ]:
df.to_csv("clean_7_state_of_the_building_none_21068.csv")

In [ ]:
df

In [ ]:
df = df[df.construction_year != "None"]

In [ ]:
df.to_csv("clean_8_construction_year_none_13483.csv")

In [ ]:
df

In [ ]:
df.number_of_facades.describe()

In [ ]:
df.number_of_facades.value_counts()

In [ ]:
df[df["number_of_facades"] == "None"].type_of_property.value_counts()

In [ ]:
df[df["type_of_property"] == "apartment"].number_of_facades.value_counts()

In [ ]:
df = df[df.number_of_facades != "None"]

In [ ]:
#TODO save

In [ ]:
df

In [ ]:
df.sample(n=50)

In [ ]:
df[(df["type_of_property"] == 'apartment') & (df["surface_of_the_land"] == "None") & (df["garden"] == 1)]

In [ ]:
df.surface_of_the_land.value_counts()

In [ ]:
"""df['garden_area'] = pd.to_numeric(df['garden_area'])
df['house_area'] = pd.to_numeric(df['house_area'])
df['terrace_area'] = pd.to_numeric(df['terrace_area'])"""

In [ ]:
df[(df["type_of_property"] == 'apartment') & (df["surface_of_the_land"] == "None")].surface_of_the_land = pd.to_numeric(df['house_area']) + pd.to_numeric(df['terrace_area']) + pd.to_numeric(df['garden_area'])

In [ ]:
df