# Correlations prices / variable

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from functions import clean


df = pd.read_csv("dataset_house_apartment.csv")

## Number of bedrooms

In [20]:
price_bedrooms = clean(df, [0,1,3,5])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
number_of_rooms : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [3]:
h_price_bedrooms = price_bedrooms[price_bedrooms['type_of_property'] == 'house']
a_price_bedrooms = price_bedrooms[price_bedrooms['type_of_property'] == 'apartment']

#### Houses

In [4]:
rf_h_price_bedrooms = h_price_bedrooms[h_price_bedrooms['region']=='Region Flamande'].loc[:,['price', 'number_of_rooms']]
rf_h_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.378551
number_of_rooms  0.378551         1.000000

In [5]:
bxl_h_price_bedrooms = h_price_bedrooms[h_price_bedrooms['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'number_of_rooms']]
bxl_h_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.308968
number_of_rooms  0.308968         1.000000

In [6]:
rw_h_price_bedrooms = h_price_bedrooms[h_price_bedrooms['region']=='Region Wallonne'].loc[:,['price', 'number_of_rooms']]
rw_h_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.322785
number_of_rooms  0.322785         1.000000

#### Apartments

In [7]:
rf_a_price_bedrooms = a_price_bedrooms[a_price_bedrooms['region']=='Region Flamande'].loc[:,['price', 'number_of_rooms']]
rf_a_price_bedrooms.corr()

                   price  number_of_rooms
price            1.00000          0.43055
number_of_rooms  0.43055          1.00000

In [8]:
bxl_a_price_bedrooms = a_price_bedrooms[a_price_bedrooms['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'number_of_rooms']]
bxl_a_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.541256
number_of_rooms  0.541256         1.000000

In [9]:
rw_a_price_bedrooms = a_price_bedrooms[a_price_bedrooms['region']=='Region Wallonne'].loc[:,['price', 'number_of_rooms']]
rw_a_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.165354
number_of_rooms  0.165354         1.000000

(error in the dataset with 3 aparts with 204 rooms, very cheap)

## House area

In [19]:
price_area = clean(df, [0,1,3,6])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
house_area : nbr ligne = 51689
43201

Working with 43.201 cleaned entries.

In [11]:
h_price_area = price_area[price_area['type_of_property'] == 'house']
a_price_area = price_area[price_area['type_of_property'] == 'apartment']

#### House

In [23]:
rf_h_price_area = h_price_area[h_price_area['region']=='Region Flamande'].loc[:,['price', 'house_area']]
rf_h_price_area.corr()

               price  house_area
price       1.000000    0.576374
house_area  0.576374    1.000000

In [24]:
bxl_h_price_area = h_price_area[h_price_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'house_area']]
bxl_h_price_area.corr()

               price  house_area
price       1.000000    0.536956
house_area  0.536956    1.000000

In [25]:
rw_h_price_area = h_price_area[h_price_area['region']=='Region Wallonne'].loc[:,['price', 'house_area']]
rw_h_price_area.corr()

               price  house_area
price       1.000000    0.530386
house_area  0.530386    1.000000

#### Apartment

In [26]:
rf_a_price_area = a_price_area[a_price_area['region']=='Region Flamande'].loc[:,['price', 'house_area']]
rf_a_price_area.corr()

               price  house_area
price       1.000000    0.082611
house_area  0.082611    1.000000

In [27]:
bxl_a_price_area = a_price_area[a_price_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'house_area']]
bxl_a_price_area.corr()

               price  house_area
price       1.000000    0.803341
house_area  0.803341    1.000000

In [28]:
rw_a_price_area = a_price_area[a_price_area['region']=='Region Wallonne'].loc[:,['price', 'house_area']]
rw_a_price_area.corr()

               price  house_area
price       1.000000    0.574516
house_area  0.574516    1.000000

## Kitchen

In [21]:
price_kitchen = clean(df, [0,1,3,7])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
fully_equipped_kitchen : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [22]:
h_price_kitchen = price_kitchen[price_kitchen['type_of_property'] == 'house']
a_price_kitchen = price_kitchen[price_kitchen['type_of_property'] == 'apartment']

#### House

In [29]:
rf_h_price_kitchen = h_price_kitchen[h_price_kitchen['region']=='Region Flamande'].loc[:,['price', 'fully_equipped_kitchen']]
rf_h_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.082419
fully_equipped_kitchen  0.082419                1.000000

In [30]:
bxl_h_price_kitchen = h_price_kitchen[h_price_kitchen['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'fully_equipped_kitchen']]
bxl_h_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.046049
fully_equipped_kitchen  0.046049                1.000000

In [31]:
rw_h_price_kitchen = h_price_kitchen[h_price_kitchen['region']=='Region Wallonne'].loc[:,['price', 'fully_equipped_kitchen']]
rw_h_price_kitchen.corr()

                          price  fully_equipped_kitchen
price                   1.00000                 0.09437
fully_equipped_kitchen  0.09437                 1.00000

#### Apartment

In [32]:
rf_a_price_kitchen = a_price_kitchen[a_price_kitchen['region']=='Region Flamande'].loc[:,['price', 'fully_equipped_kitchen']]
rf_a_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.014703
fully_equipped_kitchen  0.014703                1.000000

In [33]:
bxl_a_price_kitchen = a_price_kitchen[a_price_kitchen['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'fully_equipped_kitchen']]
bxl_a_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.048371
fully_equipped_kitchen  0.048371                1.000000

In [ ]:
rw_a_price_kitchen = a_price_kitchen[a_price_kitchen['region']=='Region Wallonne'].loc[:,['price', 'fully_equipped_kitchen']]
rw_a_price_kitchen.corr()