# Correlations prices / variable

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from functions import clean


df = pd.read_csv("dataset_house_apartment.csv")

# General

# Precisions

Here, we'll take each numerical value to go deeper in the analyse of the correlation.
For each variable, there'll be :

House's correlation for the :
    Flemish Region
    Bruxelles Region
    Wallonia Region

Apartment's correlation for the :
    Flemish Region
    Bruxelles Region
    Wallonia Region

## Number of bedrooms

In [109]:
price_bedrooms = clean(df, [0,1,3,5])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
number_of_rooms : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [3]:
h_price_bedrooms = price_bedrooms[price_bedrooms['type_of_property'] == 'house']
a_price_bedrooms = price_bedrooms[price_bedrooms['type_of_property'] == 'apartment']

#### Houses

In [4]:
rf_h_price_bedrooms = h_price_bedrooms[h_price_bedrooms['region']=='Region Flamande'].loc[:,['price', 'number_of_rooms']]
rf_h_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.378551
number_of_rooms  0.378551         1.000000

In [5]:
bxl_h_price_bedrooms = h_price_bedrooms[h_price_bedrooms['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'number_of_rooms']]
bxl_h_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.308968
number_of_rooms  0.308968         1.000000

In [6]:
rw_h_price_bedrooms = h_price_bedrooms[h_price_bedrooms['region']=='Region Wallonne'].loc[:,['price', 'number_of_rooms']]
rw_h_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.322785
number_of_rooms  0.322785         1.000000

#### Apartments

In [7]:
rf_a_price_bedrooms = a_price_bedrooms[a_price_bedrooms['region']=='Region Flamande'].loc[:,['price', 'number_of_rooms']]
rf_a_price_bedrooms.corr()

                   price  number_of_rooms
price            1.00000          0.43055
number_of_rooms  0.43055          1.00000

In [8]:
bxl_a_price_bedrooms = a_price_bedrooms[a_price_bedrooms['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'number_of_rooms']]
bxl_a_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.541256
number_of_rooms  0.541256         1.000000

In [9]:
rw_a_price_bedrooms = a_price_bedrooms[a_price_bedrooms['region']=='Region Wallonne'].loc[:,['price', 'number_of_rooms']]
rw_a_price_bedrooms.corr()

                    price  number_of_rooms
price            1.000000         0.165354
number_of_rooms  0.165354         1.000000

(error in the dataset with 3 aparts with 204 rooms, very cheap)

## House area

In [108]:
price_area = clean(df, [0,1,3,6])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
house_area : nbr ligne = 51689
43201

Working with 43.201 cleaned entries.

In [11]:
h_price_area = price_area[price_area['type_of_property'] == 'house']
a_price_area = price_area[price_area['type_of_property'] == 'apartment']

#### House

In [12]:
rf_h_price_area = h_price_area[h_price_area['region']=='Region Flamande'].loc[:,['price', 'house_area']]
rf_h_price_area.corr()

               price  house_area
price       1.000000    0.576374
house_area  0.576374    1.000000

In [13]:
bxl_h_price_area = h_price_area[h_price_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'house_area']]
bxl_h_price_area.corr()

               price  house_area
price       1.000000    0.536956
house_area  0.536956    1.000000

In [14]:
rw_h_price_area = h_price_area[h_price_area['region']=='Region Wallonne'].loc[:,['price', 'house_area']]
rw_h_price_area.corr()

               price  house_area
price       1.000000    0.530386
house_area  0.530386    1.000000

#### Apartment

In [15]:
rf_a_price_area = a_price_area[a_price_area['region']=='Region Flamande'].loc[:,['price', 'house_area']]
rf_a_price_area.corr()

               price  house_area
price       1.000000    0.082611
house_area  0.082611    1.000000

In [16]:
bxl_a_price_area = a_price_area[a_price_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'house_area']]
bxl_a_price_area.corr()

               price  house_area
price       1.000000    0.803341
house_area  0.803341    1.000000

In [17]:
rw_a_price_area = a_price_area[a_price_area['region']=='Region Wallonne'].loc[:,['price', 'house_area']]
rw_a_price_area.corr()

               price  house_area
price       1.000000    0.574516
house_area  0.574516    1.000000

## Kitchen

In [107]:
price_kitchen = clean(df, [0,1,3,7])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
fully_equipped_kitchen : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [19]:
h_price_kitchen = price_kitchen[price_kitchen['type_of_property'] == 'house']
a_price_kitchen = price_kitchen[price_kitchen['type_of_property'] == 'apartment']

#### House

In [20]:
rf_h_price_kitchen = h_price_kitchen[h_price_kitchen['region']=='Region Flamande'].loc[:,['price', 'fully_equipped_kitchen']]
rf_h_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.082419
fully_equipped_kitchen  0.082419                1.000000

In [21]:
bxl_h_price_kitchen = h_price_kitchen[h_price_kitchen['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'fully_equipped_kitchen']]
bxl_h_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.046049
fully_equipped_kitchen  0.046049                1.000000

In [22]:
rw_h_price_kitchen = h_price_kitchen[h_price_kitchen['region']=='Region Wallonne'].loc[:,['price', 'fully_equipped_kitchen']]
rw_h_price_kitchen.corr()

                          price  fully_equipped_kitchen
price                   1.00000                 0.09437
fully_equipped_kitchen  0.09437                 1.00000

#### Apartment

In [23]:
rf_a_price_kitchen = a_price_kitchen[a_price_kitchen['region']=='Region Flamande'].loc[:,['price', 'fully_equipped_kitchen']]
rf_a_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.014703
fully_equipped_kitchen  0.014703                1.000000

In [24]:
bxl_a_price_kitchen = a_price_kitchen[a_price_kitchen['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'fully_equipped_kitchen']]
bxl_a_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.048371
fully_equipped_kitchen  0.048371                1.000000

In [25]:
rw_a_price_kitchen = a_price_kitchen[a_price_kitchen['region']=='Region Wallonne'].loc[:,['price', 'fully_equipped_kitchen']]
rw_a_price_kitchen.corr()

                           price  fully_equipped_kitchen
price                   1.000000                0.031217
fully_equipped_kitchen  0.031217                1.000000

## Open fire

In [106]:
price_fire = clean(df, [0,1,3,9])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
open_fire : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [27]:
h_price_fire = price_fire[price_fire['type_of_property'] == 'house']
a_price_fire = price_fire[price_fire['type_of_property'] == 'apartment']

#### House

In [28]:
rf_h_price_fire = h_price_fire[h_price_fire['region']=='Region Flamande'].loc[:,['price', 'open_fire']]
rf_h_price_fire.corr()

              price  open_fire
price      1.000000   0.205158
open_fire  0.205158   1.000000

In [29]:
bxl_h_price_fire = h_price_fire[h_price_fire['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'open_fire']]
bxl_h_price_fire.corr()

              price  open_fire
price      1.000000   0.071605
open_fire  0.071605   1.000000

In [30]:
rw_h_price_fire = h_price_fire[h_price_fire['region']=='Region Wallonne'].loc[:,['price', 'open_fire']]
rw_h_price_fire.corr()

              price  open_fire
price      1.000000   0.225846
open_fire  0.225846   1.000000

#### Apartment

In [31]:
rf_a_price_fire = a_price_fire[a_price_fire['region']=='Region Flamande'].loc[:,['price', 'open_fire']]
rf_a_price_fire.corr()

             price  open_fire
price      1.00000    0.09701
open_fire  0.09701    1.00000

In [32]:
bxl_a_price_fire = a_price_fire[a_price_fire['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'open_fire']]
bxl_a_price_fire.corr()

              price  open_fire
price      1.000000   0.097468
open_fire  0.097468   1.000000

In [33]:
rw_a_price_fire = a_price_fire[a_price_fire['region']=='Region Wallonne'].loc[:,['price', 'open_fire']]
rw_a_price_fire.corr()

              price  open_fire
price      1.000000   0.029751
open_fire  0.029751   1.000000

## Presence of a terrace

In [105]:
price_terrace = clean(df, [0,1,3,10])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
terrace : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [35]:
h_price_terrace = price_terrace[price_terrace['type_of_property'] == 'house']
a_price_terrace = price_terrace[price_terrace['type_of_property'] == 'apartment']

#### House

In [36]:
rf_h_price_terrace = h_price_terrace[h_price_terrace['region']=='Region Flamande'].loc[:,['price', 'terrace']]
rf_h_price_terrace.corr()

            price   terrace
price    1.000000  0.155497
terrace  0.155497  1.000000

In [37]:
bxl_h_price_terrace = h_price_terrace[h_price_terrace['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'terrace']]
bxl_h_price_terrace.corr()

            price   terrace
price    1.000000  0.162903
terrace  0.162903  1.000000

#### Apartment

In [38]:
rf_a_price_terrace = a_price_terrace[a_price_terrace['region']=='Region Flamande'].loc[:,['price', 'terrace']]
rf_a_price_terrace.corr()

           price  terrace
price    1.00000  0.11785
terrace  0.11785  1.00000

In [39]:
bxl_a_price_terrace = a_price_terrace[a_price_terrace['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'terrace']]
bxl_a_price_terrace.corr()

            price   terrace
price    1.000000  0.220843
terrace  0.220843  1.000000

In [40]:
rw_a_price_terrace = a_price_terrace[a_price_terrace['region']=='Region Wallonne'].loc[:,['price', 'terrace']]
rw_a_price_terrace.corr()

            price   terrace
price    1.000000  0.307808
terrace  0.307808  1.000000

## Terrace Area

In [104]:
price_terrace_area = clean(df, [0,1,3,11])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
terrace_area : nbr ligne = 51689
39846

Working with 39.846 cleaned entries.

In [42]:
h_price_terrace_area = price_terrace_area[price_terrace_area['type_of_property'] == 'house']
a_price_terrace_area = price_terrace_area[price_terrace_area['type_of_property'] == 'apartment']

#### House

In [43]:
rf_h_price_terrace_area = h_price_terrace_area[h_price_terrace_area['region']=='Region Flamande'].loc[:,['price', 'terrace_area']]
rf_h_price_terrace_area.corr()

                 price  terrace_area
price         1.000000      0.193491
terrace_area  0.193491      1.000000

In [44]:
bxl_h_price_terrace_area = h_price_terrace_area[h_price_terrace_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'terrace_area']]
bxl_h_price_terrace_area.corr()

                 price  terrace_area
price         1.000000      0.165891
terrace_area  0.165891      1.000000

In [45]:
rw_h_price_terrace_area = h_price_terrace_area[h_price_terrace_area['region']=='Region Wallonne'].loc[:,['price', 'terrace_area']]
rw_h_price_terrace_area.corr()

                 price  terrace_area
price         1.000000      0.311354
terrace_area  0.311354      1.000000

#### Apartment

In [46]:
rf_a_price_terrace_area = a_price_terrace_area[a_price_terrace_area['region']=='Region Flamande'].loc[:,['price', 'terrace_area']]
rf_a_price_terrace_area.corr()

                 price  terrace_area
price         1.000000      0.196986
terrace_area  0.196986      1.000000

In [47]:
bxl_a_price_terrace_area = a_price_terrace_area[a_price_terrace_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'terrace_area']]
bxl_a_price_terrace_area.corr()

                 price  terrace_area
price         1.000000      0.394528
terrace_area  0.394528      1.000000

In [48]:
rw_a_price_terrace_area = a_price_terrace_area[a_price_terrace_area['region']=='Region Wallonne'].loc[:,['price', 'terrace_area']]
rw_a_price_terrace_area.corr()

                 price  terrace_area
price         1.000000      0.455135
terrace_area  0.455135      1.000000

## Presence of a garden

In [103]:
price_garden = clean(df, [0,1,3,12])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
garden : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [50]:
h_price_garden = price_garden[price_garden['type_of_property'] == 'house']
a_price_garden = price_garden[price_garden['type_of_property'] == 'apartment']

#### House

In [51]:
rf_h_price_garden = h_price_garden[h_price_garden['region']=='Region Flamande'].loc[:,['price', 'garden']]
rf_h_price_garden.corr()

           price    garden
price   1.000000  0.104494
garden  0.104494  1.000000

In [52]:
bxl_h_price_garden = h_price_garden[h_price_garden['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'garden']]
bxl_h_price_garden.corr()

          price   garden
price   1.00000  0.09232
garden  0.09232  1.00000

In [53]:
rw_h_price_garden = h_price_garden[h_price_garden['region']=='Region Wallonne'].loc[:,['price', 'garden']]
rw_h_price_garden.corr()

           price    garden
price   1.000000  0.134336
garden  0.134336  1.000000

#### Apartment

In [54]:
rf_a_price_garden = a_price_garden[a_price_garden['region']=='Region Flamande'].loc[:,['price', 'garden']]
rf_a_price_garden.corr()

           price    garden
price   1.000000  0.011576
garden  0.011576  1.000000

In [55]:
bxl_a_price_garden = a_price_garden[a_price_garden['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'garden']]
bxl_a_price_garden.corr()

           price    garden
price   1.000000  0.134594
garden  0.134594  1.000000

In [56]:
rw_a_price_garden = a_price_garden[a_price_garden['region']=='Region Wallonne'].loc[:,['price', 'garden']]
rw_a_price_garden.corr()

           price    garden
price   1.000000  0.095486
garden  0.095486  1.000000

## Garden area

In [102]:
price_garden_area = clean(df, [0,1,3,13])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
garden_area : nbr ligne = 51689
45014

Working with 45.014 cleaned entries.

In [58]:
h_price_garden_area = price_garden_area[price_garden_area['type_of_property'] == 'house']
a_price_garden_area = price_garden_area[price_garden_area['type_of_property'] == 'apartment']

#### House

In [59]:
rf_h_price_garden_area = h_price_garden_area[h_price_garden_area['region']=='Region Flamande'].loc[:,['price', 'garden_area']]
rf_h_price_garden_area.corr()

                price  garden_area
price        1.000000     0.124022
garden_area  0.124022     1.000000

In [60]:
bxl_h_price_garden_area = h_price_garden_area[h_price_garden_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'garden_area']]
bxl_h_price_garden_area.corr()

                price  garden_area
price        1.000000     0.193802
garden_area  0.193802     1.000000

In [61]:
rw_h_price_garden_area = h_price_garden_area[h_price_garden_area['region']=='Region Wallonne'].loc[:,['price', 'garden_area']]
rw_h_price_garden_area.corr()

                price  garden_area
price        1.000000     0.083093
garden_area  0.083093     1.000000

#### Apartment

In [62]:
rf_a_price_garden_area = a_price_garden_area[a_price_garden_area['region']=='Region Flamande'].loc[:,['price', 'garden_area']]
rf_a_price_garden_area.corr()

                price  garden_area
price        1.000000     0.003215
garden_area  0.003215     1.000000

In [63]:
bxl_a_price_garden_area = a_price_garden_area[a_price_garden_area['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'garden_area']]
bxl_a_price_garden_area.corr()

                price  garden_area
price        1.000000     0.040797
garden_area  0.040797     1.000000

In [64]:
rw_a_price_garden_area = a_price_garden_area[a_price_garden_area['region']=='Region Wallonne'].loc[:,['price', 'garden_area']]
rw_a_price_garden_area.corr()

                price  garden_area
price        1.000000     0.082419
garden_area  0.082419     1.000000

## Surface

In [101]:
price_surface_of_the_land = clean(df, [0,1,3,14])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
surface_of_the_land : nbr ligne = 51689
48746

Working with 51.689 cleaned entries.

In [66]:
h_price_surface_of_the_land = price_surface_of_the_land[price_surface_of_the_land['type_of_property'] == 'house']
a_price_surface_of_the_land = price_surface_of_the_land[price_surface_of_the_land['type_of_property'] == 'apartment']

#### House

In [67]:
rf_h_price_surface_of_the_land = h_price_surface_of_the_land[h_price_surface_of_the_land['region']=='Region Flamande'].loc[:,['price', 'surface_of_the_land']]
rf_h_price_surface_of_the_land.corr()

                        price  surface_of_the_land
price                1.000000             0.163079
surface_of_the_land  0.163079             1.000000

In [68]:
bxl_h_price_surface_of_the_land = h_price_surface_of_the_land[h_price_surface_of_the_land['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'surface_of_the_land']]
bxl_h_price_surface_of_the_land.corr()

                        price  surface_of_the_land
price                1.000000             0.313023
surface_of_the_land  0.313023             1.000000

In [69]:
rw_h_price_surface_of_the_land = h_price_surface_of_the_land[h_price_surface_of_the_land['region']=='Region Wallonne'].loc[:,['price', 'surface_of_the_land']]
rw_h_price_surface_of_the_land.corr()

                        price  surface_of_the_land
price                1.000000             0.240828
surface_of_the_land  0.240828             1.000000

#### Apartment

In [70]:
rf_a_price_surface_of_the_land = a_price_surface_of_the_land[a_price_surface_of_the_land['region']=='Region Flamande'].loc[:,['price', 'surface_of_the_land']]
rf_a_price_surface_of_the_land.corr()

                        price  surface_of_the_land
price                1.000000             0.029953
surface_of_the_land  0.029953             1.000000

In [71]:
bxl_a_price_surface_of_the_land = a_price_surface_of_the_land[a_price_surface_of_the_land['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'surface_of_the_land']]
bxl_a_price_surface_of_the_land.corr()

                        price  surface_of_the_land
price                1.000000             0.081612
surface_of_the_land  0.081612             1.000000

In [72]:
rw_a_price_surface_of_the_land = a_price_surface_of_the_land[a_price_surface_of_the_land['region']=='Region Wallonne'].loc[:,['price', 'surface_of_the_land']]
rw_a_price_surface_of_the_land.corr()

                        price  surface_of_the_land
price                1.000000             0.139203
surface_of_the_land  0.139203             1.000000

## Number of facades

In [100]:
price_number_of_facades = clean(df, [0,1,3,16])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
number_of_facades : nbr ligne = 51689
38107

Working with 51.689 cleaned entries.

In [74]:
h_price_number_of_facades = price_number_of_facades[price_number_of_facades['type_of_property'] == 'house']
a_price_number_of_facades = price_number_of_facades[price_number_of_facades['type_of_property'] == 'apartment']

#### House

In [75]:
rf_h_price_number_of_facades = h_price_number_of_facades[h_price_number_of_facades['region']=='Region Flamande'].loc[:,['price', 'number_of_facades']]
rf_h_price_number_of_facades.corr()

                     price  number_of_facades
price              1.00000            0.35384
number_of_facades  0.35384            1.00000

In [76]:
bxl_h_price_number_of_facades = h_price_number_of_facades[h_price_number_of_facades['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'number_of_facades']]
bxl_h_price_number_of_facades.corr()

                      price  number_of_facades
price              1.000000           0.176158
number_of_facades  0.176158           1.000000

In [77]:
rw_h_price_number_of_facades = h_price_number_of_facades[h_price_number_of_facades['region']=='Region Wallonne'].loc[:,['price', 'number_of_facades']]
rw_h_price_number_of_facades.corr()

                      price  number_of_facades
price              1.000000           0.442238
number_of_facades  0.442238           1.000000

#### Apartment

In [78]:
rf_a_price_number_of_facades = a_price_number_of_facades[a_price_number_of_facades['region']=='Region Flamande'].loc[:,['price', 'number_of_facades']]
rf_a_price_number_of_facades.corr()

                      price  number_of_facades
price              1.000000           0.022639
number_of_facades  0.022639           1.000000

In [79]:
bxl_a_price_number_of_facades = a_price_number_of_facades[a_price_number_of_facades['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'number_of_facades']]
bxl_a_price_number_of_facades.corr()

                      price  number_of_facades
price              1.000000           0.114137
number_of_facades  0.114137           1.000000

In [80]:
rw_a_price_number_of_facades = a_price_number_of_facades[a_price_number_of_facades['region']=='Region Wallonne'].loc[:,['price', 'number_of_facades']]
rw_a_price_number_of_facades.corr()

                      price  number_of_facades
price              1.000000           0.173339
number_of_facades  0.173339           1.000000

## Swimming pool

In [99]:
price_swimming_pool = clean(df, [0,1,3,17])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
swimming_pool : nbr ligne = 51689
51689

Working with 51.689 cleaned entries.

In [82]:
h_price_swimming_pool = price_swimming_pool[price_swimming_pool['type_of_property'] == 'house']
a_price_swimming_pool = price_swimming_pool[price_swimming_pool['type_of_property'] == 'apartment']

#### House

In [83]:
rf_h_price_swimming_pool = h_price_swimming_pool[h_price_swimming_pool['region']=='Region Flamande'].loc[:,['price', 'swimming_pool']]
rf_h_price_swimming_pool.corr()

                  price  swimming_pool
price          1.000000       0.209612
swimming_pool  0.209612       1.000000

In [84]:
bxl_h_price_swimming_pool = h_price_swimming_pool[h_price_swimming_pool['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'swimming_pool']]
bxl_h_price_swimming_pool.corr()

                  price  swimming_pool
price          1.000000       0.025891
swimming_pool  0.025891       1.000000

In [85]:
rw_h_price_swimming_pool = h_price_swimming_pool[h_price_swimming_pool['region']=='Region Wallonne'].loc[:,['price', 'swimming_pool']]
rw_h_price_swimming_pool.corr()

                  price  swimming_pool
price          1.000000       0.258048
swimming_pool  0.258048       1.000000

#### Apartment

In [86]:
rf_a_price_swimming_pool = a_price_swimming_pool[a_price_swimming_pool['region']=='Region Flamande'].loc[:,['price', 'swimming_pool']]
rf_a_price_swimming_pool.corr()

                  price  swimming_pool
price          1.000000       0.030091
swimming_pool  0.030091       1.000000

In [87]:
bxl_a_price_swimming_pool = a_price_swimming_pool[a_price_swimming_pool['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'swimming_pool']]
bxl_a_price_swimming_pool.corr()

                  price  swimming_pool
price          1.000000       0.106542
swimming_pool  0.106542       1.000000

In [88]:
rw_a_price_swimming_pool = a_price_swimming_pool[a_price_swimming_pool['region']=='Region Wallonne'].loc[:,['price', 'swimming_pool']]
rw_a_price_swimming_pool.corr()

                  price  swimming_pool
price          1.000000       0.044054
swimming_pool  0.044054       1.000000

## Construction year

In [98]:
price_construction_year = clean(df, [0,1,3,19])

locality : nbr ligne = 52077
52077
type_of_property : nbr ligne = 52077
52077
price : nbr ligne = 52077
51689
construction_year : nbr ligne = 51689
30565

Working with 30.565 cleaned entries.

In [90]:
h_price_construction_year = price_construction_year[price_construction_year['type_of_property'] == 'house']
a_price_construction_year = price_construction_year[price_construction_year['type_of_property'] == 'apartment']

#### House

In [91]:
rf_h_price_construction_year = h_price_construction_year[h_price_construction_year['region']=='Region Flamande'].loc[:,['price', 'construction_year']]
rf_h_price_construction_year.corr()

                     price  construction_year
price              1.00000            0.11241
construction_year  0.11241            1.00000

In [92]:
bxl_h_price_construction_year = h_price_construction_year[h_price_construction_year['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'construction_year']]
bxl_h_price_construction_year.corr()

                      price  construction_year
price              1.000000           0.007211
construction_year  0.007211           1.000000

In [93]:
rw_h_price_construction_year = h_price_construction_year[h_price_construction_year['region']=='Region Wallonne'].loc[:,['price', 'construction_year']]
rw_h_price_construction_year.corr()

                      price  construction_year
price              1.000000           0.062192
construction_year  0.062192           1.000000

#### Apartment

In [94]:
rf_a_price_construction_year = a_price_construction_year[a_price_construction_year['region']=='Region Flamande'].loc[:,['price', 'construction_year']]
rf_a_price_construction_year.corr()

                      price  construction_year
price              1.000000           0.099094
construction_year  0.099094           1.000000

In [95]:
bxl_a_price_construction_year = a_price_construction_year[a_price_construction_year['region']=='Region de Bruxelles-capitale'].loc[:,['price', 'construction_year']]
bxl_a_price_construction_year.corr()

                     price  construction_year
price              1.00000            0.02981
construction_year  0.02981            1.00000

In [96]:
rw_a_price_construction_year = a_price_construction_year[a_price_construction_year['region']=='Region Wallonne'].loc[:,['price', 'construction_year']]
rw_a_price_construction_year.corr()

                      price  construction_year
price              1.000000           0.208296
construction_year  0.208296           1.000000